.Demo__container {
  display: flex;
  column-gap: 14px;
  z-index: 1 !important;
}

.Demo__some-network {
  text-align: center;
  display: flex;
  align-items: center;
}

.Demo__some-network__share-button {
  cursor: pointer;

  display: flex;
  align-items: center;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}
