@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primereact/resources/themes/lara-light-blue/theme.css';
@import 'primeicons/primeicons.css';
@import './reset.css';

htnl,
body {
  direction: rtl;
  height: 100svh;
}

#root {
  --kavim-darkblue: #59a3ff;
  --kavim-blue: #c5dfff;
  --kavim-lightblue: #e7f1fb;
  --kavim-grey: #f4f4f4;
  --kavim-darkgrey: #242424;
  --kavim-text: #292929;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--kavim-text);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100svh;
  font-family: 'Assistant', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
label,
button {
  font-family: 'Assistant', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1rem;
}
label,
button {
  font-size: 1rem;
}

p {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
}

button {
  font-size: 14pt;
}

.social-link,
a:-webkit-any-link {
  font-family: 'Assistant', sans-serif;
  text-decoration: none !important;
  color: var(--kavim-text);
}

.nav-bar-link {
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  place-content: center;
}

nav {
  background-color: var(--kavim-blue);
  min-height: 60px;
  grid-template-rows: 60px !important;
}
footer {
  background-color: var(--kavim-blue);
  min-height: 80px;
  grid-template-rows: 60px !important;
  place-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.proccess-wrapper-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.proccess-card-grid {
  display: grid;
  grid-template-rows: 28px 24px 75px;
  place-items: center;
  align-items: start;
  row-gap: 1rem;
}

.dashedLine {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    var(--kavim-darkblue),
    var(--kavim-darkblue) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 13px 1px;
  border: none;
}

.dashedLine-placeholder {
  height: 1px !important;
  width: 1px !important;
}

.proccess-card-grid > img {
  width: 28px;
}

.proccess-card-grid > div > h3 {
  font-weight: 500;
  font-size: large;
}

.proccess-card-grid > p {
  max-width: 80%;
  text-align: center;
  font-size: medium;
}

.contact-form-wrapper,
.comment-form-wrapper {
  background-color: var(--kavim-blue);
  place-content: center;
}

.contact-form,
.comment-form {
  display: grid;
}

.contact-form {
  grid-template-areas:
    'fName lName phone email'
    'hero relation address address'
    'sendButton sendButton sendButton sendButton';
}

.comment-form {
  grid-template-areas:
    'fName lName phone prefix'
    'comment comment comment comment'
    'sendButton sendButton sendButton sendButton';
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;
  /* padding: 0 1rem; */
  /* place-content: center; */
}

.inner-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2;
  gap: 1rem;
}

.volunteer-grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.fallen-hero-section {
  display: grid;
  grid-template-areas:
    'name name'
    'content imageSlider';
}

.form-input,
.form-button {
  box-sizing: border-box;
  background: #ffffff;
  color: var(--kavim-text);
  border: 1px solid #59a3ff;
  border-radius: 6px;
  height: 2em;
}

.form-button {
  width: 200px;
  height: 40px;
  border-radius: 28px;
}

.thanks-section {
  min-height: 80svh;
  background: linear-gradient(
    var(--kavim-lightblue) 0%,
    var(--kavim-lightblue) 100%
  );
}

.landing-element {
  position: absolute;
  width: 718.66px;
  height: 686.59px;
  left: -263px;
  bottom: -140px;
  mix-blend-mode: soft-light;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: matrix(0.91, 0.41, 0.41, -0.91, 0, 0);
}

.fallen-search-box {
  background: #e7f1fb;
  color: var(--kavim-text);
  border-radius: 50px;
  border-width: 0;
  height: 30px;
  background-image: url('./assets/searchIcon.svg');
  background-size: 5%;
  background-position: 20px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
}

.fallen-card:hover {
  border-color: var(--kavim-darkblue) !important;
  border-width: 50px !important;
}

.write-more-btn,
.send-page-btn {
  display: flex;
  border-radius: 50px;
  color: var(--kavim-text);
  font-size: 0.8rem;
}

.write-more-btn {
  background: var(--kavim-blue);
  border: 1px solid #59a3ff;
}

.send-page-btn {
  background: var(--kavim-lightblue);
  border: 1px solid #59a3ff;
}

.comments-section {
  width: 100% !important;
  background-color: var(--kavim-lightblue);
  min-height: 40svh;
  display: grid;
  border-radius: 12px;
}

.comment {
  min-height: 200px !important;
  display: grid;
  grid-template-areas:
    'name phone date hr hr hr'
    'comment comment comment comment comment comment';
}

.swiper-autoheight {
  padding-bottom: 20px !important;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .page-grid {
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
  }
}

@media (max-width: 992px) {
  .page-grid {
    grid-template-columns: 1fr minmax(auto, 600px) 1fr;
  }
}

@media (max-width: 768px) {
  nav {
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .page-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .inner-content {
    grid-column: 1;
    padding: 0 1rem;
  }

  .proccess-wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .proccess-card-grid {
    grid-template-rows: 28px 24px 1fr;
  }

  .contact-form {
    grid-template-areas:
      'fName'
      'lName'
      'phone'
      'email'
      'hero'
      'address'
      'relation'
      'fileUpload'
      'sendButton';
  }

  .comment-form {
    grid-template-areas:
      'fName'
      'lName'
      'phone'
      'prefix'
      'comment'
      'sendButton';
  }

  .volunteer-grid {
    max-width: 500px;
    grid-template-columns: repeat(2, 1fr);
  }

  .fallen-hero-section {
    grid-template-areas:
      'name'
      'imageSlider'
      'content';
  }

  a:-webkit-any-link {
    font-size: 0.95rem;
  }
}

/* Scrollbar CSS */
@media (min-width: 768px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--kavim-darkgrey) var(--kavim-grey);
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--kavim-grey);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--kavim-grey);
    border-radius: 8px;
    border: 3px solid var(--kavim-darkgrey);
  }
  nav {
    min-height: 80px;
  }
}
