@import '../node_modules/primeflex/primeflex.css';
@import './reset.css';
@import '../node_modules/@ciar4n/izmir/izmir.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Suez+One&display=swap');
body{
  direction: rtl;
}
#root {
    --kavim-blue: #c6defd;
  --kavim-lightblue:#e6f1fc;
  --kavim-grey:#f4f4f4;
  --kavim-darkgrey:#242424;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--kavim-darkgrey);
  background-color: var(--kavim-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 1280px !important; */
  /* margin: 0 auto; */
  min-height: 100svh;
  font-family: 'Suez One', serif;


}
.rubik-dirt{
  font-family: 'Rubik Dirt', sans-serif;
}

/* ===== Scrollbar CSS ===== */

/* Apply styles only to screens with a minimum width of 768 pixels (adjust as needed) */
@media (min-width: 768px) {
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--kavim-darkgrey) var(--kavim-grey);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--kavim-grey);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--kavim-grey);
    border-radius: 8px;
    border: 3px solid var(--kavim-darkgrey);
  }
}



.c4-izmir {
  --primary-color: #rgba(255, 255, 255, 0.87);
  --secondary-color: #D0206E;
  --transition-duration: 500ms;
  --border-width: 1px;
  --overlay-opacity: .5;
}

a {
  color:var(--kavim-darkgrey);
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}
.fallen-grid{
  display: grid !important;
  gap: 0.75rem;
  padding-bottom: 1rem;
  grid-template-columns: repeat(5,1fr);
  @media (max-width:1000px) {
    grid-template-columns: repeat(3,1fr);

  }
  @media (max-width:768px) {
    grid-template-columns: repeat(1,1fr);

  }
}

.square {
  position: relative;
  width: 60vw;
  height: 60vw;
  @media (max-width:768px) {
    width: 250px;
  height: 300px;
  }
}

.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--kavim-darkgrey);
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 0.5s;
  animation: animate 8s linear infinite;
  @media (max-width:768px) {
    animation: none;
    }
}

.square:hover span:nth-child(1) {
  border: none;
  background: var(--kavim-blue);
}

.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--kavim-darkgrey);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 10s linear infinite;
  @media (max-width:768px) {
    animation: none;
    }
}

.square:hover span:nth-child(2) {
  border: none;
  background: var(--kavim-blue);
}


.square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--kavim-darkgrey);
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 25s linear infinite;
  @media (max-width:768px) {
  animation: none;
  }
}

.square:hover span:nth-child(3) {
  border: none;
  background: var(--kavim-blue);
}


.content {
  position: relative;
  padding: 20px 60px;
  color: #242424;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
  margin-top: 20%;
  @media (max-width:768px) {
    padding: 50px 60px;
    margin-top: 0%;

  }
}

 a, button {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid #242424;
  padding: 6px 18px;
  text-decoration: none;
  color: #242424;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}
button{
  background-color: var(--kavim-lightblue);
}
 a,button:hover  {
  background: var(--kavim-lightblue);
  color: var(--kavim-darkgrey);
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}